@media screen and (max-width: 1024px) {
    .info-bottom-content--overall span:nth-child(6), .info-bottom-content--values span:nth-child(6) {
        display: none;
    }

    .info-bottom-content--overall, .info-bottom-content--values {
        grid-template-columns: 1fr 0.75fr 0.5fr 1fr 1fr !important;
        width: 100%;
    }
}


@media screen and (max-width: 480px) {
    
.info-bottom-content--overall span:nth-child(2),
    .info-bottom-content--overall span:nth-child(3),
    .info-bottom-content--values span:nth-child(2),
    .info-bottom-content--values span:nth-child(3) {
        display: none;
    }

    .info-bottom-content--overall, .info-bottom-content--values {
        grid-template-columns: repeat(3, 1fr) !important;
    }
}