.container-frame--infos {
    max-width: 68rem;
}

.info-bottom-content--overall {
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr 0.75fr 0.5fr 1fr;

    width: 100%;
    height: auto;

    gap: 1rem;

    font-family: IM FELL French Canon SC;
    font-weight: normal;
    color: var(--text-color-one);
}

.info-bottom-content--values {
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr 0.75fr 0.5fr 1fr;

    gap: 1rem;

    width: 100%;
    height: auto;

    color: var(--text-color-one);
}

.info-top-content--value-container {
    color: var(--text-color-three);
}