* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
}

html,body {
    display: block;
    background-color: var(--background-base-color);
}

html {
    font-size: clamp(14px, 1.2vw, 26px);
}


:root {
    --background-base-color: #242424;
    --column-color: #191B1D;
    --border-column-color: #757575;
    --text-color-one: #F6F6F6;
    --text-color-two: #384490;
    --text-color-three: #A7383A;
    --text-color-four: #D9C4A8;
    --text-color-five: #479038;
}

h1, h3, p, span {
    color: var(--text-color-one);
}

h1 {
    cursor:default;
    user-select: none;
}

svg {
    width: auto;
    height: 100%;
}

.column-adjustment > span {
    font-family: Alan Sans;
    text-align: center;
}

.grid-item-container > span {
    font-family: IM Fell French Canon SC;
    font-size: 2.5em;
}
