/*
    =============
      Home page
    =============
*/

@media screen and (max-width: 1024px) {
    
    .logo-container {
        border: transparent;
        border-bottom: var(--border-column-color);
        border-style: solid;
    }

    .sidebar-container {
        display: none;
    }

    .grid-infos {
        display: grid;
        grid-template-columns: repeat( 2, minmax(0, 1fr));

        gap: 4rem;

        z-index: 1;
        align-items: start;
    }

    .main-infos-container {
        display: flex;

        align-items: baseline;
        justify-content: center;
        padding-top: 3rem;

        flex: 1;
    }
}

@media screen and (max-width: 480px) {
    .logo-container {
        border: transparent;
        border-bottom: var(--border-column-color);
        border-style: solid;

        min-width: 5.4rem;
        max-width: 7rem;
    }

    .navbar-title {
        display: block;
        font-family: Young Serif;

        font-size: 0.8rem;
        text-align: center;
        color: var(--text-color-one);
    }

    .sidebar-container {
        display: none;
    }

    .grid-infos {
        display: grid;
        grid-template-columns: repeat( 1, minmax(0, 1fr));

        gap: 4rem;

        z-index: 1;
        align-items: start;
    }

    .main-infos-container {
        display: flex;

        justify-content: center;
        padding-top: 3rem;

        flex: 1;
    }

    .nav-field {
        padding: 0;
    }
}



/*
    ====================================
      Saldo do mês, Preferência Musical e Despesas do Mês
    ====================================
*/

@media screen and (max-width: 1024px) {
    .info-bottom-content--overall span:nth-child(6), .info-bottom-content--values span:nth-child(6) {
        display: none;
    }

    .info-bottom-content--overall, .info-bottom-content--values {
        grid-template-columns: 1fr 1fr 0.5fr 0.75fr 0.5fr !important;
        width: fit-content;
    }
}

@media screen and (max-width: 480px) {
    .container-frame--infos > img {
        display: none;
    }

    .info-top-content--value-container {
        display: none !important; /* Esse !important é pro CSS dar prioridade pra ele caso alguma outra coisa esteja sobrescrevendo as regras */
    }

    .container-frame--infos {
        max-width: fit-content;
        max-height: fit-content;

        padding: 1rem;
    }

    .estoque-text-field {
        max-width: 10.5rem;
    }

    input {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .nav-field {
        gap: 1rem;
    }

    .nav-field > p{
    font-family: Alan Sans ;
    font-size: 1rem;
    }

    .info-bottom-content--overall span:nth-child(3),
    .info-bottom-content--overall span:nth-child(5),
    .info-bottom-content--values span:nth-child(3),
    .info-bottom-content--values span:nth-child(5) {
        display: none;
    }

    .info-bottom-content--overall, .info-bottom-content--values {
        grid-template-columns: repeat(3, 0.5fr) !important;
    }

    .info-top-content--title {
        font-size: 2.4rem;
    }

    .info-bottom-content--overall span, .info-bottom-content--values span {
        font-size: 0.8rem;
    }
}